---
author: Daniel Radtke
---
@import "sum";

@import "reset";
@import "magnific-popup";
@import "magnific-popup-custom";

$main-width: 820px;
$spacing: 10px;
$menu-text-sizes: (
  {% for page in site.nav-menu %}
    {{ page[1] }},
  {% endfor %}
);
$breakpoints: (700px, {{ site.mobile-breakpoint }});
* {
  box-sizing:border-box;
  color:#FFF;
}

body {
  -webkit-text-size-adjust: 100%;
  text-align:justify;
  font:13px Arial;
  padding:0 0 $spacing 0;
  background-color:#000;
}

img {
  max-width:100%;
  &.apple-devices { width: 600px; }
}

#background {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: url(/css/background.jpg) no-repeat center center;
  background-size: cover;
  z-index:-1;
}

%no-text {
  text-indent:-9999px;
}
p, ul {
  margin:1em 0;
}

%bold {
  font-weight:bold;
}
h1 {
  @extend %bold;
  font-size:150%
}
h2 {
  @extend %bold;
  font-size: 125%;
  + * {
    margin: $spacing 0
  }
}
a {
  text-decoration:none;
  font-weight:bold;
  color: #b2b2b2;
  &:hover {
    text-decoration:underline;
  }
}
ul {
  text-align:left;
  li:before {
    content: '- ';
  }
}

$apple-badge-aspect: 40 / 135;
$amazon-badge-aspect: 46 / 135;
$google-badge-aspect: 40 / 135;
a.app-badge {
  @extend %no-text;
  font-size:.1%;
  display:inline-block;
  position:relative;
  &:after {
    display:block;
    width:100%;
    display:block;
    content:'';
  }
  
  &.apple {
    &:after {
      padding-bottom: $apple-badge-aspect * 100%;
      background:url(/images/apple-app-badge.svg) no-repeat;
      background-size: 100% 100%;
    }
  }
  &.amazon {
    &:after {
      padding-bottom: $amazon-badge-aspect * 100%;
      background:url(/images/amazon-app-badge.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  &.google {
    &:after {
      padding-bottom: $google-badge-aspect * 100%;
      background:url(/images/en_badge_web_generic.png) no-repeat;
      background-size: 100% 100%;
    }
  }
}

#wrapper {
  width:100%;
  max-width:$main-width;
  margin:0 auto;
}
header, nav, section, footer  {
  width:100%;
  width:calc(100% - #{$spacing * 2});
  margin:$spacing auto;
  background-color:rgba(25,25,25,.7);
}
header {
  background:url(/images/logo.svg) no-repeat;
  background-size: auto 100%;
  background-position:$spacing 0;
  height:131px;
  h1 {
    @extend %no-text;
  }
  h1, a {
    display:block;
    height:100%;
    width:100%;
  }
}
nav {
  %transition {
    transition: background-color 0.5s ease;
  }
  ul {
    @extend %transition;
    position:relative;
  }
  li {
    @extend %transition;
    display:inline-block;
    font-size:24px;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
    &:hover { background-color: rgba(255,255,255,.12); }
    &:before { content:none }
    &:first-child {
      $inner-width: $main-width - ($spacing * 2);
      display:none;
      
      $extra-menu-space: (($inner-width / 1px) - sum($menu-text-sizes));
      $selector: null;
      @each $item in $menu-text-sizes {
        $selector: '#{$selector} + li';
        #{$selector} {
          width: calc(#{($item + ($extra-menu-space / length($menu-text-sizes))) / 800 * 100%} - #{48px / length($menu-text-sizes)})
        }
      }
      #{$selector} + li {
        @media only screen and (min-width : nth($breakpoints, 2) + 1px) {
          position: absolute;
          right: 0;
          width: 48px;
          background-image: url(/images/twitter.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 34px;
          height:48px;
          text-indent:-9999px;
          font-size:1px; 
        }
      }
    }
  }
  a {
    @extend %transition;
    display:block;
    width:100%;
    height:100%;
    color:#FFF;
    padding:$spacing;
    &:hover {
      text-decoration:none;
    }
  }
}
section, footer {
  padding: $spacing;
}
.app-description {
  $amazon-scale-factor: 40 / 46;
  position:relative;
  $icon-size: 180px;
  $left-height:$icon-size + ($icon-size * $apple-badge-aspect) + $spacing + ($icon-size * $amazon-badge-aspect) + $spacing;
  background:url(/images/app-icon.svg) no-repeat;
  background-size:$icon-size $icon-size;
  padding: 0 0 #{(152px * $apple-badge-aspect) + $spacing} ($icon-size + $spacing);
  min-height:$icon-size + $spacing;
  .app-badge {
    width: 152px;
    position:absolute;
    bottom: $spacing;
    &.google {
      left: $icon-size + $spacing + 152px + $spacing + 152px;
    }
    &.amazon {
      right: 0;
      width: 152px * $amazon-scale-factor;
      left: $icon-size + $spacing + 152px + $spacing;
    }
    &.apple {
      left: $icon-size + $spacing;
    }
  }
}

figure.screenshots {
  $screenshot-padding: $spacing / 2;
  + figure.screenshots {
    padding-top:$spacing;
  }
  ul {
    margin: 0 (-$screenshot-padding) 0 (-$screenshot-padding);
    font-size:.1%;
  }
  li {
    display:inline-block;
    width:1 / 3 * 100%;
    padding: $spacing $screenshot-padding 0;
    &:before { content:none; }
    
  }
  a {
    @extend %no-text;
    font-size:.1%;
    display:inline-block;
    width:100%;
    padding:0 0 56.25% 0;
    background-size:100% 100%;
  }
}
#tvos-screen1 { background-image:url(/images/screenshots/appletv-1.thumb.jpg); }
#tvos-screen2 { background-image:url(/images/screenshots/appletv-2.thumb.jpg); }
#tvos-screen3 { background-image:url(/images/screenshots/appletv-3.thumb.jpg); }
#ios-screen1 { background-image:url(/images/screenshots/ios-1.thumb.jpg); }
#ios-screen2 { background-image:url(/images/screenshots/ios-2.thumb.jpg); }
#ios-screen3 { background-image:url(/images/screenshots/ios-3.thumb.jpg); }

.download {

  $link-height: 972 / 953 * 150px;
  display: inline-block;
  text-align: center;
  width: 50%;
  margin: 1em 0;

  .osx {
    background: url(/images/osx-el-capitan.svg) no-repeat;
    background-size: auto 150px;
    min-width: 150px;
    display: inline-block;
    padding: $link-height 0 0 0;
  }
  .ios {
    background: url(/images/apple-logo.svg) no-repeat;
    background-size: auto 141px;
    background-position: center 3px;
    min-width: 117px;
    display: inline-block;
    padding: $link-height 0 0 0;
  }
}

.download-center, .text-center { text-align:center; }

footer {
  span {
    opacity:.7;
    display:inline-block;
    + span {
      float:right;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .app-badge.amazon {
    background:url(/images/amazon-app-badge.2x.png) no-repeat;
    background-size: 100% 100%;
  }
}
@media only screen and (max-width : nth($breakpoints, 1)) {
  figure.screenshots li {
    width:50%;
  }
}
@media only screen and (max-width : nth($breakpoints, 2)) {
  body {
    background-position:center top;
    background-attachment:scroll;
    background-size:auto 120vh;
  }
  header {
    font-size:.1%;
    background-position:center top;
    background-size:85vmin 100%;
    height:calc(85vmin * 0.4365266666666667);
  }
  figure.screenshots li { width:100%; }
  nav, section, footer {
    margin-left:auto;
    margin-right:auto;
    width:82vmin
  }
  nav {
    ul {
      line-height:24px;
      &.open {
        li:first-child ~ li {
          display:block;
        }
        li:first-child:after {
          content:'\25BC';
        }
      }
    }
    li {
      width:100% !important;
      &:first-child {
        display:block;
        padding:$spacing;
        text-indent:1.2em;
        ~ li {
          display:none;
        }
        &:after {
          display:inline-block;
          content:'\25BA';
          font-size:.8em;
          text-align:left;
          width:1em;
          padding-left:.4em;
          text-indent:0
        }
      }
    }
  }
  .app-description {
    $icon-size: 50vmin;
    padding:$icon-size 0 0 0;
    background-position:center top;
    background-size:calc(#{$icon-size} - #{$spacing}) calc(#{$icon-size} - #{$spacing});
    .app-badge {
      font-size:1em;
      position:relative;
      top:auto !important;
      display:block;
      bottom:auto;
      left:50% !important;
      right:auto;
      width:188px !important;
      margin:0 0 $spacing (-(188px / 2));
      &:after {
        position:absolute;
        top:0 !important;
      }
      &.apple {
        height:188px * $apple-badge-aspect;
      }
      &.amazon {
        height:188px * $amazon-badge-aspect;
      }
      &.google {
        height:188px * $google-badge-aspect;
      }
    }
  }
  
  .download {
    $image-width: 50vmin;
    $osx-height: (972 / 953) * $image-width;
    $osx-bottom-height: (933.5 / 953) * $image-width;
    $ios-height: (143 / 116.344) * $image-width;
    .ios, .osx, & {
      display:block;
      width:$image-width;
      min-width: auto;
      margin: 1em auto;
      background-size: $image-width;
      test: $ios-height;
      background-position: top center;
    }
    .osx {
      padding: calc(#{$osx-bottom-height} + .5em) 0 0 0;
      min-height: $osx-height;
    }
    .ios {
      padding: calc(#{$ios-height} + .5em) 0 0 0;
    }
  }
}
